<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="hyperdog">
    <xacro:include filename="hyperdog_urdf_links.xacro" /> 
    <xacro:include filename="hyperdog_urdf_joints.xacro" /> 
    <xacro:include filename="gazebo_ros2_control_plugin.xacro" /> 
    <xacro:include filename="hyperdog_gazebo.xacro" />
</robot>